body{
    width: 800px;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 40px;
}

.container .left_container{
    background: grey;
}

.container .left_container p{
    text-align: center;
}

.container .left_container .img_container img{
    width: 300px;
    border-radius: 50%;
}

.container .left_container,
.container .right_container{
    border-radius: 50px;
}

.container .right_container .experience1,
.container .right_container .experience4{
    display: flex;
    align-items: center;
    gap: 300px;
}