body{
    width: 800px;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 40px;
}

.container .left_container{
    background: rgb(192, 187, 187);
}

.container .left_container .img_container img{
    width: 250px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 25px;
}

.container .left_container h2{
    margin-left: 10px;
}

.container .left_container p{
    text-align: center;
}

.container .left_container,
.container .right_container{
    border-radius: 50px;
}

.container .right_container .experience1,
.container .right_container .experience4{
    display: flex;
    align-items: center;
    gap: 300px;
}